/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: ;

  /*========== Colors ==========*/
  --first-color: ;
  --first-color-second: ;
  --first-color-alt: ;
  --first-color-lighter: ;
  --title-color: ;
  --text-color: ;
  --text-color-light: ;
  --input-color: ;
  --body-color: ;
  --container-color: ;
  /* Scroll Bar Colors */
  --scroll-bar-color: #dddee2;
  --scroll-thumb-color: #b4b8ca;
  --scroll-bar-thumb-hover: #8b8d97;

  /*========== Font and typography ==========*/
  --body-font: "Vollkorn", Georgia, serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --normal-font-size: ;
  --small-font-size: ;
  --smaller-font-size: ;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Bottom Margins ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: ;
  --mb-0-5: ;
  --mb-0-75: ;
  --mb-1: ;
  --mb-1-5: ;
  --mb-2: ;
  --mb-2-5: ;
  --mb-3: ;

  /*========== Z INDEX ==========*/
  --z-tooltip: ;
  --z-fixed: ;
  --z-modal: ;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}

/*==================== BASE ====================*/
* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Remove o scroll horizontal: 
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}*/

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100px;
  height: auto;
}

/*==================== LAYOUT ====================*/
.structure {
  display: grid;
  /* 3 colunas: sidenav, content & ads: */
  grid-template-columns: minmax(160px, 1fr) 1fr 300px;
}

/*==================== NAV ====================*/

/*==================== TITLE ====================*/

/*==================== COL WIDE ====================*/

/*==================== IMAGE1 ====================*/

/*==================== EMPHASIS ====================*/

/*==================== TEXTS ====================*/

/*==================== BLOCKQUOTE ====================*/

/*==================== ADVERTISING / ADVERTISEMENTS ====================*/

/*==================== ATRIBUTES ====================*/

/*==================== INFO ====================*/

/*==================== FOOTER ====================*/

/*========== SCROLL UP ==========*/
.scrollUp {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: blue;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollUp:hover {
  background-color: darkblue;
}
.scrollUp_icon {
  font-size: 1.5rem;
  color: white;
}
/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-thumb-hover);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

/* For medium devices */

/* For large devices */
